$size:24px;
$gap:1px;
.draft-panel{
    position: absolute;
   // border:1px dashed red;
    min-height:$size;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    >div,>input{
        margin-right:$gap;
        height: $size !important;
        min-height: $size !important;
    }
    .df-btn{
        min-width: $size !important;
        max-width: $size !important;
        width: $size !important;
        height: $size;
        border-radius: 0px;
        //color: white;

    }    
    .df-btn-delete,.df-btn-delete-node{
        color:red !important;
    }
}