.lines{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin:5px;
    >div{
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        margin:5px;
        &:nth-child(1){
            flex: 0 1 auto;
            min-width: 32px;
            line-height: 32px;
            height:32px;
        }
    }
}